<li>
  <div class="timeline-body">
     <div class="timeline-header">
        <span class="username" [style.color]="card?.content?.titleColor">{{card?.content?.title}}</span>
        <!-- <span class="pull-right text-muted">1,282 Views</span> -->
     </div>
     <div class="timeline-content">
        <p class="lead-card rounded-background" [style.background-color]="card?.content?.backgroundColor" [style.color]="card?.content?.textColor">
          {{card?.content?.text}}
        </p>
     </div>
     <div class="timeline-footer" *ngIf="card?.navigation?.length">
      <span *ngFor="let link of card?.navigation"><a class="m-r-15 text-inverse-lighter icon-button" href="https://notsurewhattolinkto" tooltip='<p><i class="fas fa-link fa-fw fa-lg m-r-3 text-primary"></i> Go to <strong>{{link?.page}}</strong></p>'><i class="fas fa-link fa-fw fa-lg m-r-3 text-primary"></i>Go to {{link?.page}}</a> &nbsp;&nbsp;</span>
     </div>
  </div>
</li>

